* {
  box-sizing: border-box;
  font-family: "Comfortaa", serif;
  margin: auto;
  text-align: center;
  padding: 0;
  color:#667882
}

body {
  background: #ddd;
  width:100%;
  color: #667882;
  margin: 0 0 0 0;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
.image {
  max-width: 600px;
}
.header {
  background: white;
  width:100%;
  min-height:100px;
  margin-top: 0;
  font-family: "Prompt";
  font-size:20px;
  font-weight: 200;
  font-style: normal;
}
  
.bestfuturheader {
  width:300px;
  height:110px;
  text-align:center;
  margin-left:20px;
  padding-top:6px;
}
  
.subtitle {
  margin-top: -10px;
  font-size: 20px;
  font-weight: 200;
  font-style: normal;
}
  
.header-img {
  width:200px
}
  
.entete {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.titre { 
  margin:0;
  font-size:50px;
  padding-top:22px;
  padding-bottom:10px;
  color: #222;
}
.logo{
  margin:0;
  max-width: 314px;
}
.consignes {
  width: 100%;
  align-content: center;
}

.texte {
  margin-top: 15px;
  width: 60%; 
  font-size: 20px;
  line-height: 30px;
  text-align: justify
}

.headerEmo {
  display: flex
}

.emoji {
  text-align: center;
  background: #ffffff6b;
  border: 3px solid #33333314;
  height: 200px;
  padding: 30px;
  padding-bottom: 0px;
  border-radius: 30px;
  width: 30%;
  position: relative;
  margin-bottom: 20px;
  margin-top: 15px;
}

.emoji img {
  height: 90px
}

.questions {
  text-align: left;
  margin:15px;
  margin-left:50px;
  font-size: 21px
}

#mult {
  text-align: left;
  margin-left: 25px;
  margin-top: 40px;
}

.btn-d {
  margin-top: 25px;
  border-radius: 14px;
  box-shadow:inset 0px 0px 11px 0px #ffffff;
  background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
  background-color:#ededed;
  border-radius:42px;
  border:2px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#667882;
  font-size:26px;
  font-weight:bold;
  padding:19px 39px;
  text-decoration:none;
  text-shadow:0px 1px 12px #ffffff;   
}

.btn {
  margin-top: 50px;  
  box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	background-color:#ededed;
	border-radius:8px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#667882;
	font-size:18px;
	font-weight:bold;
	padding:9px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
  margin-left:980px
}

.btn:hover {
  background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
  background-color:#dfdfdf;
}

.btn:active {
  position:relative;
  top:1px;
}

.bloc {
  margin-top:15px;
  padding-bottom: 20px;
  background: white;
  min-width:350px;
  text-align: center;
  border-radius: 4px;
  width: 95%
}

.progress {
  display: inline-flex;
  font-size:20px;
  width:60%;
  padding:10px;
  padding-top:25px
}

#barre {
  width: 800px;
  height: 30px;
  -webkit-appearance: progress-bar;
  border:none
}
progress[value] {
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 150px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg, 
	                           transparent 33%, rgba(0, 0, 0, .1) 33%, 
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top, 
	                           rgba(255, 255, 255, .25), 
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #4ea0a3, #d1343c);

    border-radius: 150px; 
    background-size: 35px 20px, 100% 100%, 100% 100%;
}

#nocheck {
  padding-top: 10px
}

#err {
  color:red
}

.container {
  padding-bottom: 20px;
  background:white;
  min-width:350px;
  text-align: center;
  border-radius: 4px;
  width: 95%;
  height: 100%;
  position: absolute;
  left: 47.5px;
}

#res {
  padding-bottom: 20px;
  font-size: 25px;
}

$color-1: #4ea0a3;
$color-2: #d1343c;
$color-3: #3498db;
$color-4: #f1c40f;

.control {
  text-align: left;
  margin-top: 40px;

  .lblcontrol {
    margin-left: 1300px;
    display: flex;
    width:10%
  }

  input[type="radio"] {
    display: none;

    + label {
      color: #333;
      font-size: 14px;

      span {
        display: inline-block;
        width: 50px;
        height: 50px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
    
        img {
          opacity: 0;
          transition: all .3s ease;
          width: 30px;
          height: 30px;
          padding-top:15px
        }
      }
    }

  @for $i from 0 through 500 {
      &#color-#{$i} + label span {
          background-color: $color-1;
      }
  }

  @for $i from 1000 through 500 {
    &#color-#{$i} + label span {
        background-color: $color-2;
    }
  }

    &:checked + label span img {
      opacity: 1;
    }
  }
}

#mult {
  text-align: left;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 70%;

  p{
    padding-top:10px;
    width:100%
  }

  input[type="radio"] {
    display: none;

    + label {

      margin:0;
      color: #333;
      font-size: 18px;
      display:inline-flex;
      justify-content: left;
      padding-left: 50px;
      padding-bottom:15px;
      p {
        margin:0;
        width:10%
      }
      span {
        margin:150px;
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: -1px 4px 0 0;
        vertical-align: middle;
        cursor: pointer;
        border-radius: 50%;
        border: 2px solid #FFFFFF;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
        background-repeat: no-repeat;
        background-position: center;
        text-align: center;
        line-height: 44px;
    
        img {
          opacity: 0;
          transition: all .3s ease;
          width: 20px;
          height: 20px;
          padding: top 3px;
        }
      }
    }

  @for $i from 0 through 100 {
      &#color-#{$i}#{0} + label span {
        background-color: $color-1;
      }
      &#color-#{$i}#{1} + label span {
        background-color: $color-4;
      }
      &#color-#{$i}#{2} + label span {
        background-color: $color-3;
      }
      &#color-#{$i}#{3} + label span {
        background-color: $color-2;
      }
  }
    
    &:checked + label span img {
      opacity: 1;
    }
  }
}